/JavaFXApplicationTest/nbproject/private/
/Exercise 23/nbproject/private/
/Java2Class11FX/nbproject/private/
/JavaClassWork/nbproject/private/
/Java2Lab2/build/
/Exercise 23/build/
/Java2Lab2/dist/
/Java2Class11FX/build/
/Java2Class11FX/dist/
/SceneBuilderTest/dist/
/Java2Lab3/build/
/Java2Lab3/dist/